{% extends 'base.html' %}
{% load static %}
{% block title %} About Afristater Kit {% endblock %}

{% block content %}



    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row align-items-end mb-4">
                        <div class="col-lg-6">
                            <h3 class="section-title mb-3">About Us</h3>
                        </div>
                    </div>
                    <div class="mb-5">
                        <p>Welcome to Africa’s startup portal!</p>

                        <p>Afristarter Kit is a one-stop-shop for all news, information and commentary pertaining to the continent’s 
                            tech startup – and investment – ecosystem.
                            
                            With journalists roaming the continent to find, meet, and interview the most innovative and disruptive tech 
                            startups, Disrupt Africa is a true showcase of Africa’s most promising businesses and business ideas.</p>
                            
                        <p>Our readers can keep up-to-date with the quirky world of tech hubs and accelerator programmes; and our reporters 
                            provide live coverage of the all-important tech and entrepreneurship events across Africa.
                            
                            For our startup, entrepreneur, and investor friends alike, our mission is to provide practical information and 
                            advice from across Africa’s varied vibrant markets, and to promote engaged and thought-provoking discussion 
                            about the exciting ecosystem we belong to.</p>
                            
                        <p>are also the producers of Disrupt Podcast, the fortnightly podcast dedicated to Africa’s startup ecosystems, 
                            available on Soundcloud, Spotify, Apple Podcasts, and all other podcasting platforms.
                            
                            Aside from its journalism, Disrupt Africa has also developed a research arm that releases publications tracking 
                            the development of the African tech startup ecosystem, and Pipeline, which helps connects corporates, investors 
                            and accelerators with innovative tech startups.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->


{% endblock %}