{% extends 'base.html' %}
{% load static %}
{% block title %} Startups {% endblock %}

{% block content %}


        <!-- Recent Post -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="mb-5">
                    <h3 class="mb-4 section-title">Startups</h3>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <div class="col-lg-7 pt-lg-5 pb-3">
                            <div class="d-flex flex-column pl-3">
                                <a class="text-dark mb-4" href=""><h5>9 African startups selected for Norrsken Impact Accelerator</h5></a>
                                <div class="d-flex">
                                    <small><h7 class="text-secondary text-uppercase font-weight-medium">By</h7></small>
                                    <small class="text-primary px-1"></small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">Julius Njeri</a></small>
                                    <small class="text-primary px-2">|</small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">January 01, 2045</a></small>
                                </div>
                            </div>
                        </div>
                        <img class="img-fluid rounded" src="{% static 'website/img/try-13.jpg' %}" style="width: 300px; height: 150px; object-fit: cover;" alt="">
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <div class="col-lg-7 pt-lg-5 pb-3">
                            <div class="d-flex flex-column pl-3">
                                <a class="text-dark mb-4" href=""><h5>Elitr diam amet sit elitr magna ipsum ipsum dolor Elitr diam amet sit elitr magna ipsum ipsum dolor</h5></a>
                                <div class="d-flex">
                                    <small><h7 class="text-secondary text-uppercase font-weight-medium">By</h7></small>
                                    <small class="text-primary px-1"></small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">Julius Njeri</a></small>
                                    <small class="text-primary px-2">|</small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">January 01, 2045</a></small>
                                </div>
                            </div>
                        </div>
                        <img class="img-fluid rounded" src="{% static 'website/img/try-14.jpg' %}" style="width: 300px; height: 150px; object-fit: cover;" alt="">
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <div class="col-lg-7 pt-lg-5 pb-3">
                            <div class="d-flex flex-column pl-3">
                                <a class="text-dark mb-4" href=""><h5>Draper Startup House adds locations in Malawi, Namibia</h5></a>
                                <div class="d-flex">
                                    <small><h7 class="text-secondary text-uppercase font-weight-medium">By</h7></small>
                                    <small class="text-primary px-1"></small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">Julius Njeri</a></small>
                                    <small class="text-primary px-2">|</small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">January 01, 2045</a></small>
                                </div>
                            </div>
                        </div>
                        <img class="img-fluid rounded" src="{% static 'website/img/try-15.jpg' %}" style="width: 300px; height: 150px; object-fit: cover;" alt="">
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <div class="col-lg-7 pt-lg-5 pb-3">
                            <div class="d-flex flex-column pl-3">
                                <a class="text-dark mb-4" href=""><h5>Second India Africa Entrepreneurship and Investment Summit set for July</h5></a>
                                <div class="d-flex">
                                    <small><h7 class="text-secondary text-uppercase font-weight-medium">By</h7></small>
                                    <small class="text-primary px-1"></small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">Julius Njeri</a></small>
                                    <small class="text-primary px-2">|</small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">January 01, 2045</a></small>
                                </div>
                            </div>
                        </div>
                        <img class="img-fluid rounded" src="{% static 'website/img/try-16.jpg' %}" style="width: 300px; height: 150px; object-fit: cover;" alt="">
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <div class="col-lg-7 pt-lg-5 pb-3">
                            <div class="d-flex flex-column pl-3">
                                <a class="text-dark mb-4" href=""><h5>How Nigerian agri-tech startup Rural Farmers Hub is boosting yields in post-insurgency areas</h5></a>
                                <div class="d-flex">
                                    <small><h7 class="text-secondary text-uppercase font-weight-medium">By</h7></small>
                                    <small class="text-primary px-1"></small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">Julius Njeri</a></small>
                                    <small class="text-primary px-2">|</small>
                                    <small><a class="text-secondary text-uppercase font-weight-medium" href="">January 01, 2045</a></small>
                                </div>
                            </div>
                        </div>
                        <img class="img-fluid rounded" src="{% static 'website/img/try-5.jpg' %}" style="width: 300px; height: 150px; object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Recent Post End -->


{% endblock %}